# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Turborepo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Docker data volumes
minio_data/
pgdata/
redis_data/
